<div class="min-vh-100 h-100vh py-5 d-flex align-items-center bg-gradient-primary">
  <div class="bg-absolute-cover vh-100 overflow-hidden d-none d-md-block">
    <figure class="w-100">
      <img width="100%" height="100%" alt="Background image placeholder" src="/assets/img/svg/backgrounds/bg-4.svg" class="svg-inject">
    </figure>
  </div>
  <div class="container position-relative zindex-100">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-4 px-5 px-lg-0">
        <div class="card shadow zindex-100 mb-0">
          <div class="card-body px-md-5 py-5 text-center">
            <div class="mb-5">
              <h2 class="h2">{{env.appName}}</h2>
              <p class="mb-0">Sign in to your account to continue.</p>
            </div>
            <span class="clearfix"></span>
            <div class="social-login-rows text-center">
              <div class="mb-3">
                <button type="button" class="btn btn-outline-primary rounded-pill social-login-btn" (click)="login('google')">
                  <img width="24" height="24" src="/assets/img/brand/google-24x24.png" alt="google-logo"> &nbsp; Sign in with Google
                </button>
              </div>
              <div class="mb-3">
                <button type="button" class="btn btn-outline-primary rounded-pill social-login-btn" (click)="login('microsoft')">
                  <img width="24" height="24" src="/assets/img/brand/microsoft-24x24.png" alt="microsoft-logo"> &nbsp; Sign in with Microsoft
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-lg-offset-2 d-none d-lg-block">
        <figure class="w-100">
          <img width="622" height="500" alt="Background Image Placeholder" src="/assets/img/svg/illustrations/design-thinking.svg"
            class="svg-inject opacity-8 img-fluid" style="height: 500px;">
        </figure>
      </div>
    </div>
  </div>
</div>
