@media (max-width: 400px) {
  .social-login-btn {
    font-size: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


@media (max-width: 342px) {
  .social-login-btn {
    font-size: 0.7rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
