<!-- Sidenav header -->
<div class="sidenav-header d-flex align-items-center">
  <a class="navbar-brand" [routerLink]="['/admin']" routerLinkActive="router-link-active" >
    <img src="assets/img/brand/white.png" class="navbar-brand-img" alt="...">
  </a>
  <div class="ml-auto">
    <!-- Sidenav toggler -->
    <div class="sidenav-toggler sidenav-toggler-dark d-md-none" data-action="sidenav-unpin"
      data-target="#sidenav-main">
      <div class="sidenav-toggler-inner">
        <i class="sidenav-toggler-line bg-white"></i>
        <i class="sidenav-toggler-line bg-white"></i>
        <i class="sidenav-toggler-line bg-white"></i>
      </div>
    </div>
  </div>
</div>
<!-- User mini profile -->
<div class="sidenav-user d-flex flex-column align-items-center justify-content-between text-center">
  <!-- Avatar -->
  <div>
    <a class="avatar rounded-circle avatar-xl">
      <img alt="Image placeholder" class="" *ngIf="currentUser?.photoURL"  [src]="currentUser.photoURL">
      <i *ngIf="!currentUser?.photoURL" class="fas fa-3x fa-user"></i>
    </a>
    <div class="mt-4">
      <h5 class="text-white mb-3">{{currentUser?.displayName | titlecase}}</h5>
      <!-- <span class="d-block text-sm text-white opacity-8 mb-3">Web Architect</span> -->
      <a href="#" class="btn btn-sm btn-white btn-icon rounded-pill shadow hover-translate-y-n3">
        <span class="btn-inner--icon"><i class="fas fa-coins"></i></span>
        <span class="btn-inner--text">$2.300</span>
      </a>
    </div>
  </div>
  <!-- User info -->
  <!-- Actions -->
  <div class="w-100 mt-4 actions d-flex justify-content-between">
    <a [routerLink]="['/admin/profile']" class="action-item action-item-lg text-white pl-0">
      <i class="fas fa-user-cog"></i>
    </a>
    <a class="action-item action-item-lg text-white" data-action="omnisearch-open" data-target="#omnisearch">
      <i class="fas fa-search"></i>
    </a>
    <a  class="action-item action-item-lg text-white pr-0" (click)="doLogout()">
      <i class="fas fa-sign-out-alt"></i>
    </a>
  </div>
</div>
<!-- Application nav -->
<div class="nav-application clearfix">
  <a class="btn btn-square text-sm" [routerLink]="['/admin']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
    <span class="btn-inner--icon d-block"><i class="fas fa-tasks fa-2x"></i></span>
    <span class="btn-inner--icon d-block pt-2">Credentials</span>
  </a>
  <a class="btn btn-square text-sm" [routerLink]="['/admin/credential/add']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <span class="btn-inner--icon d-block"><i class="fas fa-plus fa-2x"></i></span>
    <span class="btn-inner--icon d-block pt-2">Add</span>
  </a>
  <a class="btn btn-square text-sm" [routerLink]="['/admin/password-util/generate-password']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <span class="btn-inner--icon d-block"><i class="fas fa-key fa-2x"></i></span>
    <span class="btn-inner--icon d-block pt-2">Generate Password</span>
  </a>
</div>
<!-- Misc area -->
<!-- <div class="card bg-gradient-warning">
  <div class="card-body">
    <h5 class="text-white">Hello, Friend!</h5>
    <p class="text-white mb-4">
      Why not start using Purpose Application UI Kit and create something amazing today?
    </p>
    <a href="https://themes.getbootstrap.com/product/purpose-application-ui-kit/"
      class="btn btn-sm btn-block btn-white rounded-pill" target="_blank">Get started</a>
  </div>
</div> -->
