<div class="page-content">
  <div class="row">
    <div class="col-lg-12 text-center main-container d-flex align-items-center justify-content-center">


      <form class="form-inline">
        <input type="text" class="form-control rounded-pill mx-2" [(ngModel)]="password" name="generate-password">
        <button type="button" class="btn btn-white btn-icon rounded-pill shadow hover-translate-y-n3 mx-2" (click)="copy()">Copy</button>
        <button type="button" class="btn btn-white btn-icon rounded-pill shadow hover-translate-y-n3 mx-2" (click)="generatePassword()">Generate Password</button>
      </form>

      <!-- Page title -->

      <!-- <form class="mt-4" [formGroup]="credFormGroup">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 form-group">
                <label class="form-control-label">
                  URL
                </label>
                <input type="text" class="form-control" formControlName="url">
              </div>
              <div class="col-md-6 form-group">
                <label class="form-control-label">
                  Name
                </label>
                <input type="text" class="form-control" formControlName="name">
              </div>
              <div class="col-md-6 form-group">
                <label class="form-control-label">
                  User ID
                </label>
                <input type="text" class="form-control" formControlName="userId">
              </div>
              <div class="col-md-6 form-group">
                <label class="form-control-label">Password</label>
                <div class="input-group input-group-merge">
                  <input [type]="viewPass.pass1 ? 'text' : 'password'" class="form-control" formControlName="password">
                  <div class="input-group-append cursor-pointer" (click)="viewPass.pass1 = !viewPass.pass1">
                    <span class="input-group-text"><i class="fas fa-eye"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label class="form-control-label">Password Confirm</label>
                <div class="input-group input-group-merge">
                  <input [type]="viewPass.pass2 ? 'text' : 'password'" class="form-control" formControlName="passwordConfirm">
                  <div class="input-group-append cursor-pointer" (click)="viewPass.pass2 = !viewPass.pass2">
                    <span class="input-group-text"><i class="fas fa-eye"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label class="form-control-label">
                  Environment
                </label>
                <select class="custom-select" formControlName="environment">
                  <option>NA</option>
                  <option>DEV</option>
                  <option>UAT</option>
                  <option>PROD</option>
                </select>
              </div>
              <div class="col-md-12 form-group">
                <label class="form-control-label">
                  Tags
                </label>

                <tag-input formControlName="tags" [theme]="'bootstrap'" [modelAsStrings]="true"></tag-input>
              </div>
              <div class="col-md-12 form-group">
                <label class="form-control-label">
                  Other Info
                </label>
                <textarea class="form-control" formControlName="otherInfo"></textarea>
              </div>
              <div class="col-md-12 text-right">
                <button type="button" class="btn btn-sm btn-primary rounded-pill" (click)="saveCredentials()">Save</button>
              </div>
            </div>

          </div>
        </div>

      </form> -->
    </div>
  </div>
</div>
