<div class="page-content">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <!-- Page title -->
      <div class="page-title">
        <div class="row justify-content-between align-items-center">
          <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
            <!-- Page title + Go Back button -->
            <div class="d-inline-block">
              <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Add Credential</h5>
            </div>
            <!-- Additional info -->
          </div>
        </div>
      </div>
      <form class="mt-4" [formGroup]="credFormGroup">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 form-group">
                <label class="form-control-label">
                  URL
                </label>
                <input type="text" class="form-control" formControlName="url">
              </div>
              <div class="col-md-6 form-group">
                <label class="form-control-label">
                  Name
                </label>
                <input type="text" class="form-control" formControlName="name">
              </div>
              <div class="col-md-6 form-group">
                <label class="form-control-label">
                  User ID
                </label>
                <input type="text" class="form-control" formControlName="userId">
              </div>
              <div class="col-md-6 form-group">
                <label class="form-control-label">
                  Password
                </label>
                <input type="password" class="form-control" formControlName="password">
              </div>
              <div class="col-md-6 form-group">
                <label class="form-control-label">
                  Password Confirm
                </label>
                <input type="password" class="form-control" formControlName="passwordConfirm">
              </div>
              <div class="col-md-6 form-group">
                <label class="form-control-label">
                  Environment
                </label>
                <select class="custom-select" formControlName="environment">
                  <option>NA</option>
                  <option>DEV</option>
                  <option>UAT</option>
                  <option>PROD</option>
                </select>
              </div>
              <div class="col-md-12 form-group">
                <label class="form-control-label">
                  Tags
                </label>

                <tag-input formControlName="tags" [theme]="'bootstrap'" [modelAsStrings]="true"></tag-input>
              </div>
              <div class="col-md-12 form-group">
                <label class="form-control-label">
                  Other Info
                </label>
                <textarea class="form-control" formControlName="otherInfo"></textarea>
              </div>
              <div class="col-md-12 text-right">
                <button type="button" class="btn btn-sm btn-primary rounded-pill" (click)="saveCredentials()">Save</button>
              </div>
            </div>

          </div>
        </div>

      </form>
    </div>
  </div>
</div>
