::ng-deep {
  .ng2-tag-input {
    &.bootstrap {
      display: block !important;
      width: 100% !important;
      min-height: calc(1.5em + 1.5rem + 2px) !important;
      padding: 0.4rem 0.6rem !important;
      font-size: 1rem !important;
      font-weight: 400 !important;
      line-height: 1.5 !important;
      color: #8492A6 !important;
      background-color: #FFF !important;
      background-clip: padding-box !important;
      border: 1px solid #E0E6ED !important;
      border-radius: 0.25rem !important;
      box-shadow: inset 0 1px 1px rgb(31 45 61 / 8%) !important;
      transition: all 0.2s ease !important;

      &.ng2-tag-input--focused {
        color: #8492A6 !important;
        background-color: #FFF  !important;
        border-color: rgba(110, 0, 255, 0.5)  !important;
        outline: 0  !important;
        box-shadow: inset 0 1px 1px rgb(31 45 61 / 8%), 0 0 20px rgb(110 0 255 / 10%)  !important;
      }
    }
  }
}
