<div class="page-content">
  <!-- Page title -->
  <div class="page-title">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
        <!-- Page title + Go Back button -->
        <div class="d-inline-block">
          <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Credentials</h5>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-end">
        <a [routerLink]="['/admin/credential/add']" routerLinkActive="router-link-active" class="btn btn-sm btn-white btn-icon-only rounded-circle">
          <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
        </a>
      </div>
    </div>
  </div>
  <!-- Listing -->
  <div class="card">
    <!-- Card header -->
    <div class="card-header actions-toolbar border-0">
      <div class="actions-search" id="actions-search">
        <div class="input-group input-group-merge input-group-flush">
          <div class="input-group-prepend">
            <span class="input-group-text bg-transparent"><i class="fas fa-search"></i></span>
          </div>
          <input type="text" class="form-control form-control-flush" placeholder="Search..." [(ngModel)]="searchQuery">
          <div class="input-group-append">
            <a href="#" class="input-group-text bg-transparent" data-action="search-close" data-target="#actions-search"><i class="fas fa-times"></i></a>
          </div>
        </div>
      </div>
      <div class="row justify-content-between align-items-center">
        <div class="col">
          <h6 class="d-inline-block mb-0">Credentials</h6>
        </div>
        <div class="col text-right">
          <div class="actions"><a href="#" class="action-item mr-3" data-action="search-open" data-target="#actions-search"><i class="fas fa-search"></i></a>
            <div class="dropdown mr-3">
              <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-filter"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" [ngClass]="{active: currentSortBy === 'newest'}" (click)="changeSort('newest')">
                  <i class="fas fa-sort-amount-down"></i>Newest
                </a>
                <a class="dropdown-item" [ngClass]="{active: currentSortBy === 'a-z'}" (click)="changeSort('a-z')">
                  <i class="fas fa-sort-alpha-down"></i>From A-Z
                </a>
                <a class="dropdown-item" [ngClass]="{active: currentSortBy === 'z-a'}" (click)="changeSort('z-a')">
                  <i class="fas fa-sort-alpha-up"></i>From Z-A
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Table -->
    <div class="table-responsive">
      <table class="table align-items-center">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Url</th>
            <th scope="col">User ID</th>
            <th scope="col">Password</th>
            <th scope="col">Environment</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="list">
          <ng-container *ngFor="let cred of credentials | filterObjectByMatchingAnyKeyValue: searchQuery">
            <tr class="cred-row">
              <th scope="row" class="canCopy" (click)="copy(cred, 'name')">
                {{cred.name}}
              </th>
              <td class="canCopy" (click)="copy(cred, 'url')">
                {{cred.url}}
              </td>
              <td class="canCopy" (click)="copy(cred, 'userId')">
                {{cred.userId}}
              </td>
              <td class="canCopy" (click)="copy(cred, 'password')">
                *****
              </td>
              <td>
                {{cred.environment}}
              </td>

              <td class="text-right">
                <!-- Actions -->
                <div class="actions ml-3">
                  <a [routerLink]="['/admin/credential/edit/', cred.id]" routerLinkActive="router-link-active"  class="action-item text-info mr-2" data-toggle="tooltip" title="Edit">
                    <i class="fas fa-pencil-alt"></i>
                  </a>
                  <button (click)="deleteCred(cred.id)" class="action-item text-danger mr-2" data-toggle="tooltip" title="Delete this credential">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>

            </tr>
            <tr class="badge-row">
              <td colspan="6">
                <span class="badge badge-primary rounded-pill mr-2"
                  *ngFor="let tag of cred.tags"
                >{{tag}}</span>
              </td>
            </tr>
          </ng-container>

        </tbody>
      </table>
    </div>
  </div>
  <!-- Load more -->
</div>
