/* You can add global styles to this file, and also import other style files */
@import './resources/scss/purpose.scss';


body {
  &.ready {
    .application {
      opacity: 1;
    }
  }
}

.navbar-user {
  width: 100%;
  justify-content: space-between;
}


