/* You can add global styles to this file, and also import other style files */
@import './resources/scss/purpose.scss';


body {
  &.ready {
    .application {
      opacity: 1;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.navbar-user {
  width: 100%;
  justify-content: space-between;
}

.page-content {
  min-height: 80vh;
}

.text-ripple {
  background-position: center;
  transition: background 0.8s;

  &:hover {
    background: #FAFAFA radial-gradient(circle, transparent 1%, #FAFAFA 1%) center/15000%;
  }

  &:active {
    background-color: #BDBDBD;
    background-size: 100%;
    transition: background 0s;
  }
}

